body {
	padding-top: 60px;
	font-family: consolas, sans-serif;
	/* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar-fixed-top {
	position: fixed;
	!
	important
}

.navbar-inner {
	margin-left: 20px;
	margin-right: 20px;
}

div#map {
	height: 400px;
}

.slider.slider-vertical {
	height: 400px;
}

.slider-handle {
	background-color: rgb(184, 204, 42);
}

div#legend{
	background-color: rgb(73, 69, 65);
	color : white;
}

span.legend-header{
	height: 40px;
	background-color: rgb(48, 45, 41);
	padding : 5px;
}