<div class="row-fluid">
	<div class="span6 offset3">
		<h1>MY.EARTH (client-site)</h1>
		<h2>Context</h2>
		<p>We develop this project for the NASA international space apps challenge. More information here: http://spaceappschallenge.org/.</p>
		<br>
		<p>MY.EARTH is our solution for the Earth Day Challenge.</p>

		<h2>Description</h2>
		<p>This is the MY.EARTH client-side part.</p>
		<br>
		<p>It provides a clean web application that displays the evolution of environmental data on Earth since 1970.</p>

		<h2>Technology</h2>
		<p>This project uses awesome open source technologies:</p>
		<ul>
			<li>AngularJS</li>
			<li>Bootstrap</li>
			<li>Cordova</li>
			<li>jQuery</li>
			<li>Leaflet</li>
		</ul>

		<h2>Team</h2>
		<ul>
			<li>Robin Coma Delpérier</li>
			<li>Alexia Delas</li>
			<li>Nicolas Noullet</li>
			<li>Stéphane Coué</li>
			<li>Aditya Geria</li>
		</ul>

		<h2>License</h2>
		<div class="row-fluid">
			<div class="span1">
				<img src="img/GitHub-Mark-64px.png"/>
			</div>
			<div class="span11">
				<br>
				<ul>
					<li><a href="https://github.com/robinComa/SpaceApps_Tlse" target="_blank">Client side</a></li>
					<li><a href="https://github.com/noullet/earthday-server" target="_blank">Server side</a></li>
				</ul>
			</div>
		</div>
		<p>This project is licensed under the MIT license.</p>
	</div>
</div>